body{
  font-family: 'Playfair Display', serif;
}
.u_know_what
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 28px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span{
    white-space: pre-line;
  }

  .copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: aliceblue;
    line-height: 3;
    text-align: center;
  }

  canvas{
    margin-top: 100px;
    border: 5px solid rgb(51, 153, 232);
    border-radius: 17px;
    box-shadow: 5px 5px 5px rgb(98, 175, 234);
  }

  
 